<%- include('header.ejs') -%>

    <h2>Client : <%= data.client.lastname + ' ' +  data.client.firstname %></h2>
    <div class="col-lg-4">
        <form action="/users/clients/<%= data.req.params.id %>/update" method="POST" id="form">
            <div class="form-group">
              <label for="exampleFormControlInput1">LastName</label>
              <input class="form-control" name="lastname" value="<%= data.client.lastname %>" required >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">FirstName</label>
                <input class="form-control" name="firstname"  value="<%= data.client.firstname %>" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Edit</button>
            <button class="btn btn-secondary mb-2" onclick="window.history.back()">Cancel</button>
        </form>
    </div>


<%- include('footer') -%>
