<%- include('header.ejs') -%>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">LastName</th>
        <th scope="col">FirstName</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Orders</th>
      </tr>
    </thead>
    <tbody>
        <% data.clients.forEach(client=>{ %>
            <tr>
                <th scope="row"><%= client.id %></th>
                <td><%= client.lastname%></td>
                <td><%= client.firstname%></td>
                <td><a href="/users/clients/<%= client.id %>" class="btn btn-warning">Edit</a></td>
                <td><a href="/users/clients/<%= client.id %>/delete"" class="btn btn-danger">Delete</a></td>
                <td><a href="/commandes?clientId=<%= client.id %>" class="btn btn-info">Orders</a></td>
            </tr>
        <% }) %>
    </tbody>
  </table>

<%- include('footer.ejs') -%>
