<%- include('header.ejs') -%>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Client</th>
        <th scope="col">Date</th>
        <th scope="col">Valid</th>
        <th scope="col">Lines</th>
        <% if (data.req.session.usertype == 'admin'){ %> 
        <th scope="col">Validate</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
        <% data.commandes.forEach(commande=>{ %>
            <tr>
                <th scope="row"><%= commande.firstname + ' ' + commande.lastname %> </th>
                <td><%= commande.date.toDateString() %></td>
                <% if (commande.valide == 1){ %> 
                  <td><i class="far fa-check-circle fa-2x" style="color: green;"></i></td>
                <% } else { %>
                  <td><i class="far fa-times-circle fa-2x" style="color: red;"></i></td>
                <% } %>
                <td><a href="/commandes/<%= commande.id  %>/lignes" class="btn btn-info">Lines</a></td>
                <% if (data.req.session.usertype == 'admin'){ %> 
                <td><a href="/commandes/<%= commande.id  %>/valider" class="btn btn-info">Validate</a></td>
                <% } %>
            </tr>
        <% }) %>
    </tbody>
  </table>

<%- include('footer.ejs') -%>