<%- include('header.ejs') -%>


<h2>La liste des fournisseurs:</h2>

<a href="/fournisseurs/insert" class="btn btn-primary">Ajouter fournisseur</a>

<br></br>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Tel</th>
        <th scope="col">Sexe</th>
        <th scope="col">Produits</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <% data.fournisseurs.forEach(fournisseur=>{ %>
            <tr>
                <th scope="row"><%= fournisseur.id %></th>
                <td><%= fournisseur.nom%></td>
                <td><%= fournisseur.prenom%></td>
                <td><%= fournisseur.adresse%></td>
                <td><%= fournisseur.tel%></td>
                <td><%= fournisseur.sexe%></td>
                <td><a href="/products?fournisseurId=<%= fournisseur.id %>"" class="btn btn-info">Produits</a></td>
                <td><a href="/fournisseurs/<%= fournisseur.id %>" class="btn btn-warning">Modifier</a></td>
                <td><a href="/fournisseurs/<%= fournisseur.id %>/delete"" class="btn btn-danger">Supprimer</a></td>
              </tr>
        <% }) %>
    </tbody>
  </table>

<%- include('footer.ejs') -%>
