<%- include('header.ejs') -%>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Qte</th>
      </tr>
    </thead>
    <tbody>
        <% data.lignesCommande.forEach(lignec=>{ %>
            <tr>
                <th scope="row"><%= lignec.designation %></th>
                <td><%= lignec.prix %></td>
                <td><%= lignec.qte %></td>
            </tr>
        <% }) %>
    </tbody>
  </table>

<%- include('footer.ejs') -%>